@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Quadretti gialli */
  .bg-quadretti-yellow {
    background-color: #fff6ca; 
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 24px 24px;
  }

  /* Quadretti rossi */
  .bg-quadretti-red {
    background-color: #f5bfbf; 
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 24px 24px;
  }

  /* Quadretti verdi */
  .bg-quadretti-green {
    background-color: #d1f8cd; 
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
